.header {
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
}
.nav {
}
.header__nav__list {
    display: flex;
    gap: 15px;
}
.header__nav__item {
}
.header__nav__link {
}

.header__button {
width: 100px;
height: 40px;
color: white;
background-color: red;

}