<header class="header">
  <div class="container">
    <a href="#" class="logo">pixabay</a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item"><a href="" class="header__nav__link">home</a></li>
        <li class="header__nav__item"><a href="" class="header__nav__link">about us</a></li>
        <li class="header__nav__item"><a href="" class="header__nav__link">contacts</a></li>
      </ul>
    </nav>
    <button class="header__button">sign in</button>
  </div>
</header>