<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Find your image!</h1>
      <p class="hero__text">Lorem ipsum dolor sit.</p>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper__img"
            src="/img/hero/black-forest-7018959_1920.jpg"
            alt="#"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="swiper__img"
            src="/img/hero/forest-8355748_1920.jpg"
            alt="#"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="swiper__img"
            src="/img/hero/forest-7406241_1920.jpg"
            alt="#"
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
